<div class="page">
  <div class="page-main">
    <app-header></app-header>
    <div class="my-3 my-md-5">
      <div class="container">
        <app-header2></app-header2>
        <div id="uploads" class="row row-cards">
          <!--cards-->
            <div id="layout" class="col-sm-6 col-lg-4" *ngFor="let data of d; let i = index">
              <app-card [d] = data></app-card>
            </div>
          <!--no cards-->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>