
.photogram:hover{
    transform: scale(1.025);
    transition: .3s;
  }

.photogram-button:hover {
    transform: scale(1.05);
    transition: .18s;
    background-color: rgba(120, 120, 150, 0.75);
    border-color: #000;
    color: #000;
  }

  .photogram-card:hover {
    transform: scale(1.05);
    transition: .18s;
  }
  
  .photogram-caption {
    color: rgba(120, 120, 120, 0.75);
    font-weight: 1200;
  }

  .center{
    text-align: center;
  }
  
  .login-btn{
    font-size: 3em;
    margin-top: 18px;
  }
  
  .welcome{
    text-align: center;
    font-size: 3em;
    font-family: inherit;
    color: rgb(21, 21, 21);
  }
  .welcome-text {
    color: rgba(21, 21, 120, 0.75);
    font-weight: bold;
  }  