      <nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" target="_blank">
          <img src="./assets/images/logo.png" alt="TT Logo" class="small-img img-fluid">
          <span class="m-3 title">Photogram</span>
        </a>
        <div class="d-flex flex-row ml-auto"  data-toggle="collapse" href="#signout" role="button" aria-expanded="false" aria-controls="collapseExample">
          <div class="avatar avatar-md mr-3" style="background-image: url('http://tanaytoshniwal.com/images/iconfav.jpg')"></div>
          <div>
            <div class="text-light">Tanay Toshniwal</div>
            <small class="d-block text-muted">Developer</small>
          </div>
          <div id="signout" class="dropdown-menu dropdown-menu-right dropdown-menu-arrow collapse" style="position: absolute; right: 0px;">
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-user"></i> Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-settings"></i> Settings
              </a>
              <a class="dropdown-item" href="#">
                <span class="float-right"><span class="badge badge-primary">6</span></span>
                <i class="dropdown-icon fe fe-mail"></i> Inbox
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-send"></i> Message
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-help-circle"></i> Need help?
              </a>
              <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-log-out"></i> Sign out
              </a>
            </div>
        </div>
      </nav>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
              <li class="nav-item">
                <a href="./home.html" class="nav-link"><i class="fe fe-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a href="./gallery.html" class="nav-link"><i class="fe fe-image"></i> Photogram</a>
              </li>
              <li class="nav-item"> 
                <a href="./profile.html" class="nav-link"><i class="fe fe-check-square"></i> Twtr</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>